/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;

}

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.42857;

}

img {
    max-width: 100%;
}

ul {
    display: block;
}


/* INDEX PAGINA */
/* NAVIGATIE BAR */
header img {
    width: 50px;
    height: 50px;
}

header svg
 /*
header img:nth-of-type(3) {
    width: 50px;
    height: 50px;
}

header img:nth-of-type(4) {
    width: 50px;
    height: 50px;
}

header img:nth-of-type(5) {
    width: 50px;
    height: 50px;
}

header img:nth-of-type(6) {
    width: 50px;
    height: 50px;
}
*/


/* Gratis verzending met Budbee */
section:nth-of-type(1) h1{
    background-color: black;
    text-align: center;
    padding: 1em;
    color: white;
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 0em;
    padding: 0.68em 1em;
    margin-left: -1em;
    margin-right: -2em;

}

.logo {
    height: 2.5em;
    width: 4.8em;
}

.shopnow {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 18em;
    margin-bottom: 0em;
    position: absolute;
    padding: 10px 20px;
    background: #ffffff;
    font-size: 1em;
    border-radius: 4px;
    border: #ffffff;


}

div {
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -11em;
    margin-bottom: 1em;


}

header {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
}


h2: first-of-type {
    font-size: 1em;

}

/* Categorien */
section:nth-of-type(2) ul li {
    display: flex;
    width: 100%;
    background: lightgrey;
    padding: 1em;
    margin-top: 0.2em;
    margin-left: -0.5em;
    margin-right: -3em;


}

section:nth-of-type(2) li img {
    margin-left: auto;
}

section:nth-of-type(2) ul {
    list-style-type: none;
    padding: 0;
    margin-top: -12em;
    margin-right: -2em;


}

section:nth-of-type(2) ul img {
    width: 4.5em;
    height: 4.5em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

/* Shop our favorite gifts */
h3:last-of-type {
    margin-top: 1em;
    font-size: 1.8em;
    font-weight: 800;


}


h4 {
    margin-top: -1.5em;
}

h5 {
    font-size: 0.7em;
    margin-top: -1.2em;
}

h6 {
    font-size: 0.7em;
    color: #DA92AD;
    margin-top: 1.5em;
}


/* FAVORIETEN */
section:nth-of-type(3) ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top: 1em;

}

section:nth-of-type(3) ul li {
    margin-right: 0;

}

section:nth-of-type(3) ul li:nth-of-type(2) p {
    margin-left: 1.6em;
}

section:nth-of-type(3) ul li:nth-of-type(3) p {
    margin-left: 1.1em;
}




/* DETAILPAGINA */

/* routepad */
.route {
    font-size: 0.7em;
    color: #888888
}

/* titel adventkalender */
.titel {
   font-size: 0.6em;
}

/* prijs adventkalender */

.prijs {
   font-size: 0.9em;

}

/* schrijf eerste review */
.review {
    font-size: 0.8em;
    color: #DD92A3;
    text-decoration-line: underline;

}

.winkelwagen {
   font-size: 18px;
    color: white;
    background-color: #E9B9C4;
    padding: 14px 17px;
    border: none;
    border-radius: 0.2em;
}
/* FOOTER */
footer ul {
    margin-top: 1em;
    margin-left: -2em;
    margin-right: -2em;
    margin-bottom: -3em;
    padding-top: 0.2em;
    padding-bottom: 1em;
    color: white;
    background-color: black;
    list-style-type: none;
}

footer ul li {
    margin-top: 2em;

}
